
[Unit]
Description = Send LoRa STATUS ping

[Service]
Type = oneshot
ExecStart = /home/a/JumboShoo/venv/bin/python /home/a/JumboShoo/scripts/status_ping.py
User = a
