
[Unit]
Description = Send LoRa STATUS ping

[Service]
Type = oneshot
ExecStart = /home/a/Jumboshoo/venv/bin/python /home/a/Jumboshoo/status_ping.py
User = a
